<!DOCTYPE html>
<html>
    <title>Cat-Alog</title>
<style>
  @font-face {
    font-family: howcute;
    src: url(HowCute-gylP.ttf);
  }
  img {
      border: 5px solid lightblue;
      max-width: 40%;
      height: auto;      
  }
  body{
      background-image: url("catbg.jpg")
  }
  a {
    color: white;
  }
  h1{
      margin: auto;
      width: 50%;
      border: 3px solid pink;
      padding: 10px;
      background-color: pink;
  }
  h2{
      font-family: howcute;
      font-size:larger;
      color:white;
      background: lightcoral;
      line-height:150%;
  }
</style>


<h1>
<div><center>    
    <h2>The Cat-Alog</h2>
    <form action="/index">
        <input type="submit" value="Enter the Cat-alog" />
    </form> 
    <form action="/register">
        <input type="submit" value="Register for an account" />
    </form> 
    </center>
</h1>
</div>
</html>
